services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - maindb:/var/lib/postgresql/data
    env_file: .env
    ports:
      - "5432:5432"
  
  redis:
    image: redis
    container_name: redis-cache
    ports:
      - "6379:6379"
    restart: unless-stopped

volumes:
  maindb:
